[submodule "capy-bot_ws/src/rosserial_stm32"]
	path = capy-bot_ws/src/rosserial_stm32
	url = https://github.com/yoneken/rosserial_stm32.git

# No longer in need
# [submodule "capy-bot_ws/src/mrpt_slam"]
# 	path = capy-bot_ws/src/mrpt_slam
# 	url = https://github.com/mrpt-ros-pkg/mrpt_slam.git
    
[submodule "capy-bot_ws/src/depthimage_to_laserscan"]
	path = capy-bot_ws/src/depthimage_to_laserscan
	url = https://github.com/ros-perception/depthimage_to_laserscan.git

[submodule "capy-bot_ws/src/realsense-ros"]
	path = capy-bot_ws/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
    branch = ros1-legacy
[submodule "capy-bot_ws/src/--branch"]
	path = capy-bot_ws/src/--branch
	url = https://github.com/ros-drivers/rosserial.git
[submodule "capy-bot_ws/src/rosserial"]
	path = capy-bot_ws/src/rosserial
	url = https://github.com/ros-drivers/rosserial.git
[submodule "capy-bot_ws/src/rtabmap_ros"]
	path = capy-bot_ws/src/rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros.git
