<?xml version="1.0"?>
<launch>
    <!-- ===== Rpilidar node ===== -->
    <include file="$(find rplidar_ros)/launch/rplidar_a1.launch"/>

    <!-- ===== Hector slam, mapping and odometry ===== -->
    <include file="$(find hector_slam_launch)/launch/tutorial.launch"/>

    <!-- ===== Launch Rosserial ===== -->
    <node name="serial_ros" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port"              type="string"               value="/dev/ttyACM0"/>
        <param name="baud"              type="int"                  value="115200"/>
    </node>

    <!-- ===== Add .yamls to the parameter server ===== -->
    <rosparam command="load" file="$(find diff_drivetrain)/config/robotConstants.yaml"/>

    <!-- ===== Launch Position Control Node ===== -->
    <node name="control" pkg="diff_drivetrain" type="control.py" output="screen"/>

    <!-- ===== Launch Trayectory Generator Node ===== -->
    <include file="$(find vision_nodes)/launch/trajectory_rrt.launch"/>

    <!-- ===== Launch Path Planning Node ===== -->
    <include file="$(find vision_nodes)/launch/path_p.launch"/>

    

</launch>
