<?xml version="1.0"?>

<!--Llave principal-->
<launch>

  <!--Nodo1: Particula de RViz-->
  <node name="p_cloud" pkg="vision_nodes" type="point_cloud.py" output="screen">
  <param name="node_path" type="string" value="$(find vision_nodes)" />

  <!--Metodo1: Cargar desde archivo de configuracion-->
  <rosparam command="load" file="$(find vision_nodes)/config/params.yaml"/>
  
  </node>

</launch>
