<?xml version="1.0"?>

<launch>
    <!-- ===== Add .yamls to the parameter server ===== -->
    <rosparam command="load" file="$(find diff_drivetrain)/config/robotConstants.yaml"/>

    <!-- ===== Launch Rosserial ===== -->
    <node name="serial_ros" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port"              type="string"               value="/dev/ttyACM0"/>
        <param name="baud"              type="int"                  value="115200"/>
    </node>

    <!-- ===== Run angle detection ===== -->
    <!-- <node name="imu_node" pkg="mpu_6050_driver" type="imu_node.py">
        <remap from="/imu/data" to="/imu/data_raw"/>
    </node>
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false" >
        <param name="fixed_frame" value="base_link" />
        <param name="use_mag" value="false" />
        <param name="publish_tf" value="true" />
        <param name="use_magnetic_field_msg" value="false" /> 
        <param name="world_frame" value="enu" />
        <param name="orientation_stddev" value="1.0" />
    </node>
    <node name="rpy_tf" pkg="mpu_6050_driver" type="tf_broadcaster_imu.py" /> -->

    <!-- ===== Run odometry ===== -->
    <node name="odom" pkg="diff_drivetrain" type="odometry.py" output="screen"/>
    <!-- ===== Run Kalman Filter ===== -->
    <node name="kalman" pkg="diff_drivetrain" type="kalman.py" output="screen"/>
    <!-- ===== Run Control ===== -->
    <node name="control" pkg="diff_drivetrain" type="control.py" output="screen"/>
</launch>